body {
    margin: 0;

    * {
        font-family: monospace;
    }
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    text-align: center;
}

.form {
    max-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;

    .error {
        color: red;
    }

    .success {
        color: green;
    }

    label {
        text-align: left;
        margin-bottom: 5px;
    }

    input, select {
        padding: 5px;
        margin-bottom: 10px;

        &[type=radio], &[type=checkbox] {
            display: flex;
            align-self: flex-start;
        }
    }
}

.list {
    padding-left: 15px;

    .item {
        padding-bottom: 10px;
    }
}

.horizontal-align {
    display: flex;
    align-items: center;
    justify-content: space-between;
}