<div class="container">
    <p>Navigation</p>
    <nav class="menu">
        <ul class="list">
            <li class="item"><a href="/login">Login</a></li>
            <li class="item"><a href="/user/create">Create</a></li>
            <li class="item"><a href="/url/all">Urls</a></li>
        </ul>
    </nav>
</div>